{% extends "base.html" %}
{% block content %}

{% include "navbar.html" %}

<div class="row">
  <div id="form" class="col-md-8 col-md-offset-2">
    
    <h1>Are you sure to delete the {{category.name}}?</h1>
    <form action="#" method='POST' class="form-horizontal">
      <input type="submit" class="btn btn-primary" value="Yes">
        <a href="{{ url_for('showCategories') }}"<button class="btn btn-danger">No</button></a>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
    
  </div>
</div>
{% endblock %}

