{% extends "base.html" %}

{% block content %}

<!-- NAVBAR -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div id="add-nav">
      <a href="{{ url_for('newItem', category_id=category.id) }}">Add</a>
    </div>

    <div class="navbar-header">
      <a id="logo" class="navbar-brand" href="/">Catalog</a>
    </div>
    
    <div id="result"></div>
  </div>
</nav><!-- END OF NAVBAR -->

<div class="row">
  <div class="col-md-8 col-md-offset-2 center">

    <h1>List of goals in {{ category.name }}</h1>
    {% if 'username' in login_session %}
    <div id="commands">
      <span><a href="{{ url_for('editCategory', category_id=category.id)}}">Edit {{ category.name }}'s details</a></span>
      |<span><a href="{{ url_for('deleteCategory', category_id=category.id)}}"> Delete {{ category.name }}'s profile</a></span>
    </div>
    {% endif %}
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2 center">
    <hr>
    
    {% if items %}
      
      {% for item in items %}
        <div class="col-md-6">
          <div class="item-cards">
            
            <div><!-- Item Image -->
              <a href="{{ url_for('showItem', category_id=category.id, item_id=item.id ) }}"><img src="{{ item.image }}" alt=""></a>
            </div>
            
            <div>
              <div class="col-xs-4 occasion">
                <h5><!-- date -->
                {{ item.date }}
                </h5>
              </div>

              <div class="col-xs-4"><!-- Item Name -->
                <h3><a href="{{ url_for('showItem', category_id=category.id, item_id=item.id ) }}">
                {{ item.name }}
                </a></h3>
              </div>
            </div>
          </div>

        </div> 
      {% endfor %}
      <div id="newgift"><a href="{{ url_for('newItem', category_id=category.id) }}">Add new goal</a></div></div>

    {% else %}
      <p>You have no gifts for {{ category.name }} yet</p><a href="{{ url_for('newItem', category_id=category.id) }}"><i class="fa fa-gift"></i><br>Add new gift</a></div>
    {% endif %}

  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr>
    <a href="{{ url_for('showCategories') }}">Back</a>
  </div>
</div>

{% endblock %}